@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import "icons";

@facebook-color: #3b5998;
@twitter-color: #008cbf;
@google-color: #dd4b39;

.nsl-button {
  display: block;
  cursor: pointer;
  width: 275px;
  height: 38px;
  margin-bottom: 15px;
  background: none;
  background-color: #666;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font: 16px sans-serif;
  line-height: 35px;
  text-align: left;
}

.nsl-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.6);

  opacity: 0;
  transition: 1ms opacity ease;

  &.nsl-open {
    opacity: 1;
    transition: 250ms opacity 250ms ease;
  }
}

.nsl-modal {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  padding: 20px 36px 20px 20px;

  transform: translate(-50%, -50%);

  border-radius: 10px;
  background: #fff;

  opacity: 0;
  transition: 1ms opacity ease;

  &.nsl-open {
    opacity: 1;
    transition: 500ms opacity 500ms ease;

    &.nsl-anchored {
      top: 20px;
      transform: translate(-50%, 0);
    }
  }

  .nsl-close {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 18px;
    padding: 3px 3px 0 0;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      color: #c0392b;
    }
  }

  &.nsl-nau {
    min-width: 275px !important;
    max-width: 275px !important;
    background: white url(images/nau-logo-3line.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 260px;
    box-shadow: 0 4px 25px 4px rgba(0, 0, 0, 0.5);
    padding: 20px 20px 170px 20px;
    top: 30%;

    .nsl-close {
      &:before {
        content: none !important;
      }

      .nsl-button;

      position: inherit;
      top: auto;
      right: auto;
      background-color: white;
      border-color: @google-color;
      color: @google-color;
      font-size: 17px;
      margin: 15px 0 0;
      text-align: center;
      text-transform: uppercase;
      line-height: 0px;

      &:hover {
        background-color: lighten(@google-color, 41%);
      }
    }

    .nsl-provider-email {
      border: 1px solid #999;
      border-left: none;
      border-right: none;
      padding: 15px 0;
    }
  }
}

.nsl-overlay.drop {
  display: block;

  &.drop.nsl-open {
    opacity: 1;
    top: 0;
    transition: 500ms opacity ease;
  }
}

.nsl-modal.drop {
  display: block;
  top: -300%;
  transition: 500ms top ease;

  &.drop.nsl-open {
    top: 50%;
    transition: 500ms top 500ms ease;

    &.nsl-anchored {
      transition: 500ms top 500ms ease;
    }
  }
}

.social-wrap {
  button {
    /*
    display: block;
    width: 225px;
    height: 35px;
    margin-bottom: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 4px 2px -2px gray;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    font: 14px "Merriweather Sans", sans-serif;
    line-height: 35px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
    */

    .nsl-button;

    position: relative;
    padding-left: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      display: block;
      position: absolute;
      font-size: 22px;
      margin: 0px 15px 0 0;
      padding: 4px 7px 0 7px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      height: 33px;
      top: 0px;
      left: 0;
    }

    &.facebook {
      border-color: darken(@facebook-color, 10%);
      background-color: @facebook-color;
      .icon {
        border-color: darken(@facebook-color, 10%);
      }
    }
    &.twitter {
      border-color: lighten(@twitter-color, 10%);
      background-color: @twitter-color;
      .icon {
        border-color: darken(@twitter-color, 10%);
      }
    }
    &.google {
      border-color: darken(@google-color, 10%);
      background-color: @google-color;
      .icon {
        border-color: darken(@google-color, 10%);
      }
    }
  }
}